@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}
body {
  background-color: #e3f2fd;
  width: 100vw;
}
body::-webkit-scrollbar {
    display: none;
}
html{
  scroll-behavior: smooth;
}

#nav
{
  height: 5rem;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
    background-color: #e3f2fd;

}
.nav--container {
  width: 90vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.app--container {
  width: 100vw;
  height: 100vh;
  /* min-height: 100vh;
  max-width: 1900px;
    
  min-width: 835px; */
}


.list--container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4vw;
  
}

.list--item
{
    padding: 0.5rem;
    list-style: none;
    font-weight: 400;
    display: flex;
    width: 10rem;
    font-size: 1.1rem;
    text-align: center;


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    border-right: 1px solid rgba(18, 64, 142) ;
    border-radius: 4px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    /* background: linear-gradient(126deg, rgba(152,74,211,1) 26%, rgba(114,37,172,1) 61%, rgba(96,20,154,1) 77%, rgba(93,17,151,1) 80%); */
    /* background-color: #111; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4em;
    /* color: #efecec; */
    font-weight: 600;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #2d044f;
    font-size: 1.5em;
    transition: 0.3s;
  }
  
  
  
  #main 
  {
    transition: margin-left .5s;
    height: 100vh;
    width: 100vw;
    background-color: #e3f2fd;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .bar--container {
    font-size:30px;  
    background-color:  #550790;
    display: flex;
    align-items: center;

  }
  .bar-container {
    
    display: flex;
    cursor: pointer;
    background-color: #550790;
    width: 100vw;
    margin: 0px;
    padding: 10px ;
  }
  
  .bar-container svg {
    
    color: white;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.4s;
  }

  .profile-pic-container {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    height: 10.5rem;
    width: 10.5rem;
    margin: 2vh auto;
  }
  .profile-pic-container  img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }
  .profile-name-container {
    text-align: center;
    margin: 2vh;
  }
  .css-10hburv-MuiTypography-root {
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
    color: #2d044f;
  }

  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #ebf4fb !important;
    border-radius: 0 10px 10px 0;
  }
  

  #login
  {

    text-align: center;
    background-color: #65d3ae;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    height: 4.3325rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    /* font-size: 1.2rem; */
    
  }
  #login:active {
    background-color: #2c2e2d;
    
  }
  #login:hover {
    background-color: #1fb268;
    
  }

  #stid
  {

    
    background-color: #cfb57e;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: auto;
    
  }
  #stname
  {

    
    background-color: #ea8a8a;
    color : #f1f1f1;
    border-radius: 10px;
    
  }
 .logo
 {
    height: 3rem;
 }

 .start-button {
  display: flex;
  padding: auto;
  height: 30vh; 
  
  justify-content: center;
 }

 
 #start
 {
  background-color: #550790;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  height: 5rem;
  

  
 }

 a{
  color: #550790;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
 }

 .pplimg--container {
  
  display: flex;
  
  justify-content: center;
  /* height: 30rem; */

  
 }
 .imgif {
  height: 20rem;
  width: 20rem;

 }

 @media(width<710px)
 {
  .list--container {
    display: none;
  }
  .nav--container{
    justify-content: center;
  }
 }

/* ------------QUIZ------------ */


